.item {
    position: relative;
    padding-left: 30px;
    border-left: 2px solid var(--color-30);
    margin-bottom: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.dot {
    position: absolute;
    left: -9px;
    top: 1rem;
    width: 16px;
    height: 16px;
    background-color: var(--color-primary);
    border-radius: 50%;
    border: 3px solid var(--color-1);
    box-shadow: 0 0 0 2px var(--color-30);
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.year {
    font-weight: bold;
    color: var(--color-80);
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.title {
    font-size: 4.5rem;
    color: var(--color-120);
    line-height: 1.2;
}

.company {
    color: var(--color-primary);
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 4rem;
}

.tagsContainer {
    padding: 0;
    margin: 0;
}

.description {
    color: var(--color-90);
    line-height: 1.6;
    font-size: 3.5rem;
}