.tags {
    display: flex;
    gap: 2rem;
    margin-top: 0;
}

.flex {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.tag {
    flex-grow: 1;
    max-width: max-content;
    padding: 1rem 3rem;
    background-color: var(--color-2);
    color: var(--color-primary);
    border: 1px solid var(--color-20);
    border-radius: 2rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}



/*.tag {*/
/*    border: solid 1px lightgray;*/
/*    border-radius: 2rem;*/
/*    padding: 1rem 2rem;*/
/*    font-size: 4rem;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    margin: 1rem 2rem;*/
/*    white-space: nowrap;*/
/*}*/