.main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    font-size: 8rem;
}


@media (max-width: 768px) {
    .content {
        padding: 0 2rem;
    }
    .main {
        width: 100%;
        margin: 0;
    }
}