.main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 8rem;
}