/* Общая анимация появления */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title,
.tags,
.text,
.media {
    opacity: 0;
    animation-name: fadeInUp;
    animation-fill-mode: forwards;
}

.title {
    animation-duration: 1.6s;
    animation-delay: 0s;
}

.tags {
    animation-duration: 1.6s;
    animation-delay: 1.4s;
}

.text {
    animation-duration: 1.6s;
    animation-delay: 2.2s;
}

.media {
    animation-duration: 1.6s;
    animation-delay: 2.6s;
}

.content {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 3rem;
}

.description {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
}
.description p:not(:last-child) {
    margin-bottom: 4rem;
}

.media {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    max-height: 64px;
    margin: 12rem;
}

.buttons svg {
    height: 100%;
    max-height: inherit;
    width: auto;
}

.download {

}

.photo {
    width: 12vw;
    border-radius: 12rem 0 12rem 0;
    box-shadow: 10px 10px 5px lightgray;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.photoWrappper {
    display: flex;
    justify-content: center;
}
.tagsContainer{
    display: flex;
    justify-content: center;
    /*flex-wrap: nowrap;*/
    width: 100%;
    margin: 2rem 0;
    padding: 0;
}

.tag {
    flex-wrap: nowrap;
    border: solid 1px lightgray;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 4rem;
    /*font-family: 'Roboto', sans-serif;*/
    margin: 1rem 1rem;
    white-space: nowrap;
}

.tags {
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    /*padding: 2rem 4rem 2rem 4rem;*/
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
}

.title {
    width: 80%;
    font-size: 8rem;
    /*font-family: monospace;*/
}

.text {
    width: 80%;
    /*font-family: monospace;*/
    font-size: 5rem;
    line-height: 1.1;
    text-align: justify;
}

.text strong {
    font-weight: bold;
    background-color: color-mix(in srgb, var(--color-3), transparent 30%);
}

@media (max-width: 768px) {
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .description {
        width: 100%;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }


    .media {
        width: 100%;
    }
    .photo {
        margin: 3rem;
        width: 50%;
        border-radius: 12rem 0 12rem 0;
        box-shadow: 10px 10px 5px lightgray;
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        height: 12rem;
        margin: 2rem;
    }

    .title {
        font-size: 6rem;
    }

}