.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 2rem;
    border-bottom: 2px solid #eee;
    color: var(--color-primary);
    font-size: 4rem;
    min-height: 36px;
    background-color: rgba(var(--color-2), 0.8);
    backdrop-filter: blur(10px);
}

.nav {
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    gap: 8rem;
    margin-right: 2rem;
}

.logo {
    min-width: 256px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 2rem;
    margin-left: 10%;
}

.name {
    margin-left: 10%;
    font-size: 8rem;
}

.logoIcon {
    display: none;
}


@media (max-width: 768px) {
    .nav {
        font-size: 5rem;
        padding: 0.5rem;
        gap: 1rem;
    }

    .name {
        display: none;
    }

    .logo {
        min-width: 12rem;
        margin-left: 0;
    }
    .logoIcon {
        display: flex;
        height: 64%;
        width: min-content;
        background-color: black;
        border-radius: 18px;
        margin-left: 4rem;
    }

    .header {
        justify-content: center;
        padding: 0 10% 0 0;
        height: 8vh;
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 32px;
}

.button svg {
    height: 24px;
    width: auto;
    display: block;
}

.button > * {
    display: flex;
    align-items: center;
    height: 100%;
}

.filler {
    flex: 1;
}
